                               /** Start Our Framework **/
body{
    font-family: 'Open Sans', sans-serif;
    height: 3000px;
    font-size: 16px;
    
}
.container{
    width: 75rem;
    margin: auto;
    position: relative;
}
h2{
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 0%;
}
.table{
    height: 100%;
    display: table;
}
.table-row{
    display: table-row;
}
form input::placeholder{
    font-size: 0.8rem;
    color: #86807c;
}
.text-center{
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.main-color{
    color: #f7600e;
}
.main-background{
    background-color: #f7600e;
}

                                               /** Start Header **/
.header{
    background:url('../img/Header-Stock.png');
    -webkit-background-size:cover;
   -moz-backgroun-size:cover;
   -o-background-size:cover;
   background-repeat: no-repeat;
background-size: cover;
color:#FFF;

}
.overlay{
    background: rgba(49, 51, 61, 0.9);
    width: 100%;
    height: 100%;

}
.header .navbar{
    overflow: hidden;
    padding: 1.4rem 0;
    
}
.header .navbar .links{
    float: right;
 
}
.header .navbar .links i {
    margin-left: 0.5rem;
  
}
.header .intro h1{
    margin: 0%;
    font-weight: 800;
    font-size: 3.5rem;
}
.header .intro p{
    margin: 0.4rem 0 3rem ;
    line-height: 1.9;
    font-size: 1.2rem;
    color: #e9e4e4;
}
.header .arrow{
    position: absolute;
    bottom: 0%;
    left: 0%;
    text-align: center;
    width: 100%;
    padding: 1.4rem 0;
   
 
}
.header .arrow i {
    border: solid #ccc 2px;
    padding: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;

}





.header .buttons button{
    background: transparent;
    padding: 10px 0;
    color: #FFF;
    width: 11.25rem;
    font-size: 0.9rem;
    border: solid 1px #909090;
    margin: 0 0.5rem;
    border-radius: 0.59rem;
    transition: all 0.5s ease-in-out;
    
}
.header .buttons button:hover{
    background-color: #f7600e;
    color: #FFF;
    border: solid 1px #f7600e;
}



                                          /** End Header **/
                                        /** Start Features **/
.features{
    background-color: #FFF;
    padding: 4rem 0;
    overflow: hidden;
    
}     
.features .box {
    width: 22%;
    float: left;
    margin-right: 4%;
}  
.features .box i {
    color: #f7600e;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
  
    border: #86807c solid 2px;
    border-radius: 50%;
    transition: all 2s ease-in-out;
  

}    
.features .box i:hover{
    background-color: #f7600e;
    color: #FFF;
    border: #f7600e solid 2px;
}                          
.features h3{
    text-transform: uppercase;
    font-weight: normal;
    color:#666;
}
.features p{
    color:#888;
    line-height: 2;
}
.features .box:last-child{
    margin-right: 0%;
}   
                                         /** End Features**/
                                         /* Start Subscribe */
.subscribe{
    background:url('../img/Subscribe-Stock.jpg');
    -webkit-background-size:cover;
   -moz-backgroun-size:cover;
   -o-background-size:cover;
   background-repeat: no-repeat;
background-size: cover;
height: 15rem;
color: #FFF;


}
.subscribe form{
    width: 70rem;
    margin: auto;
    padding: 5rem 0;
    text-align: center;
}
.subscribe form input[type="email"]{
    padding: 0.8rem;
    width: 28rem ;
    font-size: 1rem;
    border-radius: 1.2rem;
    border: none;
    
    
}
.subscribe form button {
    padding: 0.8rem ;
    width:15rem ;
    border: none;
    border-radius: 1.2rem;
    color: #FFF;
    background-color: #f7600e;
    font-size: 1rem;
    margin-left: 2rem;
  
            
}
                                                /* End Subscribe */

                                               /* Start Our Work */
.our-work{
    padding: 3rem 0;
}                                              

.our-work h2~p{
    line-height: 2;
    max-width: 0.8rem 0 2.2rem;
}
.our-work .show-more{
    background-color: transparent;
    border: 1px soild #ccc;
    width: 15rem;
    padding: 00.8rem;
    border-radius: 00.8rem;
    margin-top: 1.5rem;
    color: #555;
    transition: all 2s ease-in-out;
}
.our-work .show-more:hover{
    background-color: #f7600e;
    color: #FFF;
    border: #f7600e solid 2px;
}
.hidden{
    display: none;
}
.our-work .items-box{
    overflow: hidden;
   
}
.our-work .items-box .item{
    float: left;
    overflow: hidden;
    width: 32%;
    margin-right: 0.5rem;
    margin-bottom: 00.5rem;
    position: relative;
    border-radius: 0.7rem;
    transition: all 4s ease-in-out;
    
}
.our-work .items-box .item img{
    width: 100%;
    height: 100%;
    padding: 0;
}
.our-work .item .over{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 96, 14, 0.8);
    color: #FFF;
    transition: all 2s ease-in-out;
    display: none;
  
    
}
.our-work .item .over h4{
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 0%;
    font-weight: normal;

}
.our-work .item .over p{
    margin-top: 0.8rem;
    margin-bottom: 3rem;
    line-height: 2;

}
.our-work .item .over button{
    background-color: transparent;
    border: 1px solid #FFF;
    width: 11rem;
    padding: 0.7rem;
    border-radius: 00.7rem;
    color: #FFF;
    transition: all 2s ease-in-out;
}
.our-work .item:hover .over{
    display: block;
}
.our-work .item .over button:hover {
    background-color: #FFF;
    border: #FFF solid 1px;
    color: #f7600e;
}
                                               /* End Our Work */
                                              /* Start Testimonials */
.testimonials{
    background: url('../img/Testimonial-Stock.jpg');
    background-size: cover;
   
}
.testimonials .client{
    padding: 3rem 0;
    font-size: 1rem;
    color: #FFF;

}
.testimonials .client p{
    line-height: 2;
    font-style: italic;
}
.testimonials .fa-chevron-right , .testimonials .fa-chevron-left{
    position: absolute;
    top:50%;
    color: #999;
    cursor: pointer;
} 
.testimonials .fa-chevron-right {
    right: 0%;
   }
.testimonials .fa-chevron-left {
   left: 0%;
  }
  .testimonials .fa-chevron-left:hover, 
  .testimonials .fa-chevron-right:hover{
      color: #f7600e;
  }

                                             /* End Testimonials */
                                             /* Start Our Team */
.our-team{
    padding: 3rem 0;

}
.our-team p{
    margin: 0.8rem 0 2.5rem;
    line-height: 2;
    color: #666;
    font-size: 1.2rem;
}
.our-team .team{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.our-team .team .person{
    overflow: hidden;
    color: #888;
    transition: all 3s ease-in-out;
}
.our-team .team .person p{
    font-size: 0.8rem;
}
.person .social-icons i{
    background-color: #888;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    color: #FFF;
    border-radius: 50%;
  


}
.person img{
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
 
}
.our-team .team .person:hover img
{
    filter: none;
    -webkit-filter: grayscale(0);
}
.our-team .person:hover{
    color: #555;
}
.our-team .team .person:hover .fa-facebook{
    background-color: #1877f2;
}
.our-team .team .person:hover .fa-instagram{
    background-color: #f56040;
}
.our-team .team .person:hover .fa-youtube{
    background-color: #ff0000;
}


                                             /* End Our Team */













                                















                                       